.container {
    padding: 12px;
}

.container h2, h3, p {
    margin: 12px;
    overflow-wrap: break-word;
}

.container ul {
    list-style: none;
}

.username {
    margin-left: 32px;
}

.title-delete {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}