.post {
    border: 1px solid black;
    border-radius: 12px;
    margin: 16px;
}

.link h3 {
    font-size: large;
    margin: 16px;
}

.link p {
    font-size: small;
    margin: 16px;
}

.link {
    text-decoration: none;
    color: black;
}